* {margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after { box-sizing: border-box; }
ul, ol { list-style: none; }
a { color: inherit; text-decoration: none; }
body { font-size: 14px; line-height: 1.5; font-family: Arial, Helvetica, sans-serif; }
.icon { width: 1em; height: 1em; fill: currentColor; overflow: hidden; }

.wrapper { margin: 20px 180px; border: 1px solid #d3d3d3; border-radius: 6px; box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.25); }

/* nav */
.header > nav { padding: 18px 18px; background-color: #242424; border-top-right-radius: 6px; border-top-left-radius: 6px; }
.header > nav .logo > a { display: flex; height: 100%; align-items: center; }
.header > nav .logo > a > span { font-size: 23px; color: white; }
.header > nav .logo > a .icon { width: 1.5em; height: 1.5em; border-radius: 100%; background: #e60026; fill: white; margin-right: 6px; }
.header .line { width: 100%; height: 5px; background: #C20C0C; }

/* .content */
.content { display: flex; flex-direction: row; }

/* .content > aside */
.content > aside { display: flex; flex-direction: column; width: 200px; }
.content > aside .songs-list-wrapper { flex-grow: 1; height: 400px; overflow-y: auto; scrollbar-color: #ddd white; scrollbar-width: thin; }
.content > aside .songs-list-wrapper > .songs-list > li { display: flex; flex-direction: row; align-items: center; padding: 10px; }
.content > aside .songs-list-wrapper > .songs-list > li:nth-child(odd) { background-color: #f7f7f7; }
.content > aside .songs-list-wrapper > .songs-list > li.active { background-color: #ccc; position: relative; }
.content > aside .songs-list-wrapper > .songs-list > li.active::before { position: absolute; left: 0; content: ''; width: 4px; height: 52px; background-color: #C20C0C; }

.content > aside .songs-list-wrapper > .songs-list > li .song-header { display: flex; align-items: center; margin-right: 3px; }
.content > aside .songs-list-wrapper > .songs-list > li .song-header .icon { cursor: pointer; width: 2em; height: 2em; }

.content > aside .songs-list-wrapper > .songs-list > li .song-content { margin-left: 3px; }
.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-name { display: flex; font-size: 16px; width: 9em; } 
.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-name > span { display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-author { display: flex; }
.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-author .song-author-header { display: flex; align-items: center; }
.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-author .song-author-header .icon { width: 1em; height: 1em; }
.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-author .song-author-content { display: flex; width: 9em; align-items: center; }
.content > aside .songs-list-wrapper > .songs-list > li .song-content .song-author .song-author-content > span { display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-left: 3px;}

.content > aside .new-song { padding: 20px 0; display: flex; cursor: pointer; justify-content: center; align-items: center; background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,5) 47%,rgba(237,237,237,1) 100%); border-top: 1px solid #ddd; }
.content > aside .new-song .new-song-header { display: flex; align-items: center; }
.content > aside .new-song .new-song-content { font-size: 18px; margin: 0 3px; }

/* .content > main */
.content > main { display: flex; flex-grow: 1; justify-content: center; align-items: center; font-size: 16px; }
/* .content > main > .form-area */
.content > main .form-area.inactive {
    display: none;
}
.content > main .form-area > form { border: 2px dashed #ddd; border-radius: 16px; padding: 2em 3em; display: flex; }
.content > main .form-area > form > .column .row { margin: 20px 0; display: flex; }
.content > main .form-area > form > .column .row label { width: 5em; display: flex; justify-content: flex-end; align-items: center; margin-right: 5px; }
.content > main .form-area > form > .column .row input[type="text"] { padding: 3px 8px; border-radius: 5px; border: 1px solid #ddd; height: 36px; width: 200px; }
.content > main .form-area > form > .column .row.actions { margin-left: calc(5em + 5px); }
.content > main .form-area > form > .column .row button { cursor: pointer; font-size: 16px; height: 36px; width: 200px; padding-left: 10px; padding-right: 10px; border-radius: 5px; border: 2px solid #242424; background-color: white; color: #242424; }
.content > main .form-area > form > .column .row textarea { resize: none; }
/* .content > main > .upload-area */
.content > main .upload-area.inactive {
    display: none;
}
.content > main .upload-area { display: flex; flex-direction: column; font-size: 16px; }
.content > main .upload-area .upload-dragable { border: 2px dashed #ddd; border-radius: 16px; padding: 10em 10em; color: #ddd; }
.content > main .upload-area button { cursor: pointer; margin-top: 20px; height: 36px; width: 200px; padding-left: 10px; padding-right: 10px; border-radius: 5px; border: 2px solid #242424; background-color: white; color: #242424; }